@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    
}

.donghop{
    display: inline;
    margin: 5px;
}

.ani{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    transition-duration: 2s;
}

.ani:hover{
    font-size: 50px;
    transition-duration: 2s;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
    justify-content: baseline;
}

header {
    background-color: aliceblue;
    text-align: center;
    padding: 100px;
}
main{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aliceblue;
    display: ruby-text;
    align-items: center;
    justify-content: center;
}

.expen{
    width: 500px;
    height: 100px;
    background: #2db34a;
    line-height: 100px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    color: black;
    border-radius: 5px;
    transition-property: color, width, background, border-radius;
    transition-duration: 2s;
    
}

.expen:hover{
    width: 1000px;
    color: black;
    align-items: center;
}

#txt{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, cursive;
    font-size: 50px;
    align-items: center;
    text-align: center;
}

img {
    margin: 0%;
    row-gap: inherit;
}

footer {
    padding: 100px;
    margin-top: 20px;
    background-color: greenyellow;

}

#time{
    font-size: 60px;
    color: #004AAD;
}

#day{
    font-size: 40px;
    color: #FF5757;
}

#date{
    font-size:20px;
    color: #FF5757;
}